<div class="container">
  <div>
    <div class="">
      <h2><%= @hop["name"] %></h2>
      <h3>Hop Description</h3>
      <p><%= @hop["description"] %> </p>
      <h3>Important Numbers</h3>
      <ul>
        <li>Alpha Acid Min<%= @hop["alphaAcidMin"] %></li>
        <li>betaAcidMin <%= @hop["betaAcidMin"] %> </li>
      </ul>
    </div>
  </div>
</div>
